/* Global Button Styles */
.btn {
	color: var(--green-1);
	font-family: Poppins;
	font-weight: 500;
	border-radius: 8px;
	font-size: 1.4rem;
	padding: 1.2rem 2rem;
}
.primary-btn {
	color: var(--white-1);
	background: var(--green-1);
}
@media only screen and (min-width: 700px) {
	.btn {
		padding: 1.3rem 2rem;
		font-size: 2rem;
	}
}
/* End Global Button Styles */


/* Footer Styles */
footer{
	background: var(--lightGreen-1);
	padding-top: 5rem;
	padding-bottom: 2rem;
}
.footer__wrapper{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.footer__logo{
	width: 150px;
	margin-bottom: 2rem;
}
.footer__desc{
	font-size: 1.4rem;
	color: var(--black-2);
	margin-bottom: 2rem;
}
.footer__socials__title{
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 1rem;
}
.footer__socials li{
	display: inline-block;
	margin-right: .5rem;
}
.footer__socials a{
	padding: .5rem .8rem;
	background-color: var(--white-1);
	border: 1px solid var(--green-2);
	border-radius: 8px;
}
.footer__socials svg{
	width: 20px;
	color: var(--black-2);
}
.footer__text__title{
	font-size: 1.8rem;
	margin-bottom: 1rem;
	color: var(--black-1);
	font-weight: 600;
}
.footer__text a{
	font-size: 1.4rem;
	margin-bottom: .5rem;
	color: var(--black-2);
	font-family: Poppins;
}
/* End Footer Styles */
